/*dropdown menu*/
.open>.dropdown-menu {
	display: inline-grid;
	left: 0px;
	padding-left: 20px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border:none;
	background: #fff;
	line-height: 43px;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #26306b;
	opacity: 0.8;
	margin-top: 15px;
	background-color: rgb(255,255,255,0.8);
	border-radius: 25px 25px 25px 0px;
	padding:0px 15px 0px 15px;
}
/*buttons styles*/

#portfolio-btn2 {
	margin-top: 25px;
	border-width: 2px;
	border-color: white;
	color: white;
	background: transparent;
	min-width: 230px;
}

#portfolio-btn2:hover, #portfolio-btn3:hover {
	background-color: white;
	color: #26306b;
}

#portfolio-btn2 {
	margin-top: 25px;
	border-width: 2px;
	border-color: white;
	color: white;
	background: transparent;
	min-width: 230px;
}

#portfolio-btn2:hover, #portfolio-btn3:hover {
	background-color: white;
	color: #26306b;
}

.btn-small-size {
	margin-top: 5%;
	border-width: 2px;
	min-width: 0px;
	text-align: center;
}
#portfolio-btn3 {
	border-color: white;
	color: white;
	background: transparent;
}

#portfolio-btn4 {
	border-color: #26306b;
	color: #26306b;
	background: transparent;
}

#portfolio-btn4:hover {
	background: #26306b;
	color: white;
}

/*videodiv*/ 

.leftside {
	grid-area: leftside;
}

.rightside {
	grid-area: rightside;
}

.leftside2 {
	grid-area: leftside2;
}

.rightside2 {
	grid-area: rightside2;
}

.wrapper {
	display: grid;
	grid-template-columns: 30% auto;
	grid-template-areas: "leftside rightside" "leftside2 rightside2";
}

.bg-color0 {
	padding-top: 250px;
	padding-bottom: 50px;
	background: #46b39e;
	background: -moz-linear-gradient(45deg, #46b39e 0%, #8f44ad 100%);
	background: -webkit-linear-gradient(45deg, #46b39e 0%,#8f44ad 100%);
	background: linear-gradient(45deg, #46b39e 0%,#8f44ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b39e', endColorstr='#8f44ad',GradientType=1 );
}

.bg-size {
	padding-top: 100px;
	padding-bottom: 50px;
}

.bg-color1 {
	background-color: white;
}

.bg-color2 {
	background-color: #ecf0f1;
}

.tittletext {
	margin-top: 15%;
}

.tittleHeader, .textheader {
	color: white;
}

.esto2,.esto4 {
	position: absolute;
	left: 80%;
	top: 77%;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: #46b39e;
	opacity: 0;
}

.esto3, .esto5 {
	position: absolute;
	background-color: #C9D0E3;
	transform: skewY(-5deg);
	-webkit-transform: skewY(-5deg);
	-moz-transform: skewY(-5deg);
	-o-transform: skewY(-5deg);	
	opacity: 0;
}

.esto3 {
	
	left: 41%;
	top: 200px;
	width: 700px;
	height: 420px;
}

.esto5 {
	left: 41%;
	top: 1728px;
	width: 700px;
	height: 420px;
}

.video1, #video3, #video2, #video4 {
	position: relative;
	width: 900px;
	height: 506.25px;
	z-index: 2;
	box-shadow: 0px 10px 15px rgb(0, 0, 0, .5);
	-webkit-box-shadow: 0px 10px 15px rgb(0, 0, 0, .5);
	-moz-box-shadow: 0px 10px 15px rgb(0, 0, 0, .5);
	-o-box-shadow: 0px 10px 15px rgb(0, 0, 0, .5);
	opacity: 0;
}

.videoPosition1 {
	left: 10%
}

.videoPosition2 {
	left: -25%
}

#video2.animateMe, #video4.animateMe, #video {
	animation: videotwo 2s ease ;
	opacity: 1;
}

#video3.animateMe, #video {
	animation: videone 2s ease;
	opacity: 1;
}


.esto2.animateMe, .esto4.animateMe {
	animation: estotwo 12s ease-in-out ;
	opacity: 1;
}

.esto3.animateMe, .esto {
	animation: esto 12s ease-in-out;
	opacity: 1;
}

.esto5.animateMe {
	animation: estothree 12s ease-in-out;
	opacity: 1;
}


@keyframes videone {
	0% {
		left: 40%;
		transform: rotate3d(-1,1,0, 90deg);
		-webkit-transform: rotate3d(-1,1,0, 90deg);
		-moz-transform: rotate3d(-1,1,0, 90deg);
		-o-transform: rotate3d(-1,1,0, 90deg);
		opacity: 0;
	}
	100%{ 
		left: 10%;
		transform: rotate3d(0,0,2, 0deg);
		-webkit-transform: rotate3d(0,0,2, 0deg);
		-moz-transform: rotate3d(0,0,2, 0deg);
		-o-transform: rotate3d(0,0,2, 0deg);
		opacity: 1;
	}

}

@keyframes videotwo {
	0% {
		left: -40%;
		transform: rotate3d(-1,1,0, 90deg);
		-webkit-transform: rotate3d(-1,1,0, 90deg);
		-moz-transform: rotate3d(-1,1,0, 90deg);
		-o-transform: rotate3d(-1,1,0, 90deg);
		opacity: 0;
	}
	100%{ 
		left: -25%;
		transform: rotate3d(0,0,2, 0deg);
		-webkit-transform: rotate3d(0,0,2, 0deg);
		-moz-transform: rotate3d(0,0,2, 0deg);
		-o-transform: rotate3d(0,0,2, 0deg);
		opacity: 1;
	}
}

@keyframes esto {
	0% {
		top: 350px;
		opacity: 0;
	}
	33%{
		opacity: 1;
	}

	100% {
		top: 200px;
	}
}

@keyframes estothree {
	0% {
		top: 1878px;
		opacity: 0;
	}
	33%{
		opacity: 1;
	}

	100% {
		top: 1728px;
	}
}

@keyframes estotwo {
	0% {
		top: 0%;
		opacity: 0;
	}
	33%{
		opacity: 1;
	}

	100% {
		top: 77%;
	}
}



/* Gallery Configuration - portfolio homesection
*/
.photo-wrapper {
	position: relative;
	overflow: hidden;	
	border-radius: 5px;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}

.overlay {
	position: absolute;
	bottom: 50%;
	left: 0;
	right: 0;
	background-color: #26306b;
	overflow: hidden;
	width: 100%;
	height:0;
}

.project .overlay {
	text-align: center;
	color: #fff;
	-webkit-transition: .7s ease;
	-moz-transition: .7s ease;
	-o-transition: .7s ease;
	transition: .7s ease;
}

.project .overlay2 {
	position: absolute;
	text-align: center;
	color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
	height: 0;
	width: 100%;
}

.photo {
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
}



.project:hover .photo-wrapper {
	-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	-moz-transform: translate(0px, -4px);
	-webkit-transform: translate(0px, -4px);
	-o-transform: translate(0px, -4px);
	transform: translate(0px, -4px);	
}

.project:hover .photo {
	opacity: 0.6;
	filter: alpha(opacity=40);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
	transition: 1.5s;

}
.project:hover .overlay {
	opacity: .8;
	filter: alpha(opacity=100);
}

.project:hover .overlay2 {
	opacity: 1;
	filter: alpha(opacity=100);
}

.desc2, .portfolio-btn {
	margin-top: 25px;
}


.imgcenter {
	margin-top: -70%;
}

.imgcenter2 {
	margin-top: -75%;
}

.overlay2 img {
	width: 180px;
}


/*second part of protfolio home section*/

.desc3 {
	position: relative;
	width: 50%;
}

.desc4 {
	position: relative;
	width: 33.33%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}



.project:hover .overlay, .project:hover .overlay {
	bottom: 0;
	height: 100%;
}

/*Portfolios separately*/
.indexp1 {
	z-index: 1000;
	height: 100%;
	min-height: 1000px
}

.indexp2 {
	z-index: 999;
}

.grey {
	background-color: #ecf0f1;
}

.logo_portfolio {
	display: block;
	margin: auto;
	max-width: 200px;
	height: auto;
	padding-bottom: 30px;
	-o-transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

.bg-p {
	background-size: cover;
	padding-top: 50%;
	padding-bottom: 50%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	max-width: 730px;
}

.bg-p1 {
	background-image: url(../img/fucho/p-03.png);
}

.bg-p2 {
	background-image: url(../img/isofrut/p-03.png);
}

.bg-p3 {
	background-image: url(../img/seccco/p-03.png);
}

.bg-p4 {
	background-image: url(../img/areppas/p-03.png);
}

.bg-p5 {
	background-image: url(../img/artteca/p-03.png);
}

.bg-p6 {
	background-image: url(../img/palma/p-03.png);
}

.bg-p7 {
	background-image: url(../img/zacasha/p-03.png);
}

.bg-p8 {
	background-image: url(../img/latam/p-03.png);
}

.bg-p9 {
	background-image: url(../img/fineChocolateClub/p-03.png);
}

.p2, #overlay2, .p3, #overlay3, .p4, #overlay4, .p5, #overlay5, .p6, #overlay6 {
	position: absolute;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
}

#overlay2, #overlay3, #overlay4, #overlay5, #overlay6 {
	color: transparent;
	font-size: 16px;
	text-align: center;
	line-height: 20px; 
}

.p2 {
	top: 50px;
	left: 33%;
	right: 25%;
	max-width: 256px;
}

#overlay2{
	top: 78px;
	left: 30%;
	text-align: center;
	color: transparent;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.p3 {
	max-width: 466px;
	top: 260px;
	left: 8%;
}

#overlay3 {
	top: 130px;
	left: 39%;
}

.p4 {
	max-width: 466px;
	right: 8%;
}

#overlay4 {
	top: 198px;
	left: 41%;
}

.p5 {
	max-width: 334px;
	margin-top: -250px;
	margin-left: -30%;
	width: 334px;
}

#overlay5 {
	top: 211px;
	left: 42%;
}

.p6 {
	max-width: 539px;
	margin-top: -50px;
	width: 539px;
	margin-left: -15%;
}

#overlay6 {
	top: 75px;
	left: 33%;
}

.p2:hover, .p3:hover, .p4:hover, .p5:hover, .p6:hover {
	z-index: 1002;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.p2:hover #overlay2, .p3:hover #overlay3,.p4:hover #overlay4, .p5:hover #overlay5, .p6:hover #overlay6 {
	z-index: 1003;
	color: white;
	background-color: #8f44ad;
	padding: 5px 15px 5px 15px;
	border-radius: 10px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

/*portfolio page*/

.marginP {
	padding: 0px;
}

.desc5 {
	width: 25%;
	padding-top: 20%;
	padding-bottom: 20%;
}

.logoP  {
	position: absolute;
	max-width: 60%;
	height: auto;
	transition: .8s;
}

#arttecaLogo {
	top: 36%;
}

.imgP {
	position: absolute;
	opacity: 0;
	z-index: -1;
	transition: .8s;
	width: auto;
}

#imgposition1 {
	top: 4%;
	right: 34%;
	max-height: 83%;
}

#imgposition2 {
	top: 5%;
	right: -15%;
	height: 75%;
}

#imgposition3 {
	top: 20%;
	right: -41%;
	max-height: 63%;
}

#imgposition4 {
	top: 14%;
	right: -70%;
	max-height: 71%;
}

.overlay5 {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;	
	opacity: 0;
	transition: .5s ease;
}

#overlayColor1 {
	background-color: rgb(70, 179, 158,.8);
}

#overlayColor2 {
	background-color: #e93e5688;
}

#overlayColor3 {
	background-color: rgb(38, 48, 107,.8);
}

#overlayColor4 {
	background-color: rgb(143, 68, 173,.8);
}

.overlay-text {
	color: white;
	margin: 0px;
	padding-top: 25px;
}

.overlay-text2 {
	color: white;
	margin-bottom: -25px;
}

.overlay-logo {
	max-width: 35%;
	width: auto;
	margin-bottom: -25px;
}

.overlayInside {
	position: absolute;
	top: 60%;
	left: 5%;
	transition: .8s;
}

.desc5:hover div>.overlayInside {
	margin-top: -100px;
}

.desc5:hover .overlay5{
	opacity: 1;
	filter: saturate(200%);
}

.desc5:hover div>.imgP {
	opacity: 1;
}

.desc5:hover div>.logoP {
	opacity: 0;
	margin-top: -100px;
}

#arttecaLogo {
	top: 40%; 
	width: 60%;
}

#palmaLogo {
	top: 40%; 
	width: 60%;
}

@media (max-width: 1600px){

	.tittletext {
		margin-top: 20px;
	} 

	.video1, #video3, #video2, #video4 {
		width: 700px;
		height: 393.75px;
	}

	.videoPosition1 {
		left: 7%
	}

	.videoPosition2 {
		left: -5%
	}

	.esto2, .esto4 {
		left: 77%;
	}

	.esto3 {
		left: 41%;
		top: 20%;
		width: 600px;
		height: 360px;
	}

	.esto5 {
		left: 41%;
		top: 1565px;
		width: 600px;
		height: 360px;
	}

	@keyframes videone {
		0% {
			left: 20%;
			transform: rotate3d(-1,1,0, 90deg);
			opacity: 0;
		}
		100%{ 
			left: 7%;
			transform: rotate3d(0,0,2, 0deg);
			opacity: 1;
		}
	}

	@keyframes videotwo {
		0% {
			left: -25%;
			transform: rotate3d(-1,1,0, 90deg);
			opacity: 0;
		}
		100%{ 
			left: -5%;
			transform: rotate3d(0,0,2, 0deg);
			opacity: 1;
		}
	}

	@keyframes estothree {
		0% {
			top: 1665px;
			opacity: 0;
		}
		33%{
			opacity: 1;
		}

		100% {
			top: 1565px;
		}
	}
}

@media screen and (max-width: 1280px){

	.tittletext {
		font-size: 3vw;
	}

	.tittletext~p {
		font-size: 1.2vw;
	}

	.video1, #video3, #video2, #video4 {
		width: 650px;
		height: 365.625px;
	}

	.videoPosition1 {
		left: 7%
	}

	.videoPosition2 {
		left: -5%
	}

	.esto2, .esto4 {
		left: 77%;
	}

	.esto3 {
		left: 41%;
		top: 200px;
		width: 500px;
		height: 300px;
	}

	.esto5 {
		left: 41%;
		top: 1490px;
		width: 500px;
		height: 300px;
	}

	@keyframes videone {
		0% {
			left: 20%;
			transform: rotate3d(-1,1,0, 90deg);
			opacity: 0;
		}
		100%{ 
			left: 7%;
			transform: rotate3d(0,0,2, 0deg);
			opacity: 1;
		}

	}

	@keyframes videotwo {
		0% {
			left: -25%;
			transform: rotate3d(-1,1,0, 90deg);
			opacity: 0;
		}
		100%{ 
			left: -5%;
			transform: rotate3d(0,0,2, 0deg);
			opacity: 1;
		}
	}

	@keyframes estothree {
		0% {
			top: 1629px;
			opacity: 0;
		}
		33%{
			opacity: 1;
		}

		100% {
			top: 1490px;
		}
	}
}

@media screen and (max-width: 1024px){

	.descPort {
		width: 100%;
	}	

	.tittletext {
		font-size: 4vw;
	}

	.tittletext~p {
		font-size: 2vw;
	}

	.wrapper {
		grid-gap: ;
		grid-template-columns: 100%;
		grid-template-areas: "rightside" "leftside" "rightside2" "leftside2";
	}

	.video1, #video3, #video2, #video4 {
		width: 700px;
		height: 393.75px;
	}

	.videoPosition1, .videoPosition2 {
		left: 0%
	}

	.esto3 {
		left: 13%;
		top: 205px;
		width: 600px;
		height: 360px;
	}
	.esto5 {
		position: absolute;
		left: 13%;
		top: 2010px;
		width: 600px;
		height: 360px;
	}

	.videoPosition1 {
		left: 0%
	}

	@keyframes videone {
		0% {
			left: 25%;
			transform: rotate3d(-1,1,0, 90deg);
			opacity: 0;
		}
		100%{ 
			left: 0%;
			transform: rotate3d(0,0,2, 0deg);
			opacity: 1;
		}

	}

	@keyframes videotwo {
		0% {
			left: -25%;
			transform: rotate3d(-1,1,0, 90deg);
			opacity: 0;
		}
		100%{ 
			left: 0%;
			transform: rotate3d(0,0,2, 0deg);
			opacity: 1;
		}
	}

	@keyframes esto {
		0% {
			top: 305px;
			left: 17%
			opacity: 0;
		}
		33%{
			opacity: 1;
		}

		100% {
			top: 205px;
		}
	}

	@keyframes estothree {
		0% {
			top: 2100px;
			opacity: 0;
		}
		33%{
			opacity: 1;
		}

		100% {
			top: 2010px;
		}
	}
}

@media screen and  (max-width: 768px){

	.tittletext {
		font-size: 41px;
	}

	.tittletext~p {
		font-size: unset;
	}

	.video1, #video3, #video2, #video4 {
		width: 650px;
		height: 365.625px;
	}

	.esto2, .esto4 {
		left:74%;
	}

	.esto3, .esto5 {
		left: 2%;
	}

	.desc3 {
		position: relative;
		width: 100%;
	}

	.desc4 {
		position: relative;
		width: 100%;
	}

	#overlay4 {
		top: 145px;
	}

	#overlay5 {
		top: 159px;
	}

	#overlay6 {
		top:68px;
	}

	.desc5 {
		width: 50%;
		padding-top: 25%;
		padding-bottom: 25%;
	}

	#imgposition2 {
		right: 9%;
	}

	#imgposition3 {
		right: 11%;
	}

	#imgposition4 {
		right: 6%;
	}

	.overlay-text {
		padding-top: 30px;
		font-size: 20px;
		line-height: 19px;
	}

	.overlay-logo {
		padding-top: 50px;
	}

	#portfolio-btn2 {
		margin-top: 5px;
		min-width: 80px;
		padding: 3px;
	}

	#arttecaLogo {
		top: 15%;
	}

	#palmaLogo {
		top: 15%;
	}

	.innerLogo {
		padding-top: 25px;
	}

	.indexp1 {
		min-height: 850px;
	}

	.p4 {
		max-width: 326px;
		top: 350px;
		right: 8%;
	}

	.col-xs-4 .p5 {
		margin-top: -159px;
		margin-left: -38%;
		width: 264px;
	}

	.col-xs-8 .p6 {
		margin-top: -5px;
		width: 376px;
		margin-left: -10%;
	}
}

@media screen and (max-width: 595px){

	.indexp1 {
		min-height: 700px;
	}

	.p2 {
		top: 50px;
		left: 33%;
		right: 25%;
		max-width: 193px;
	}

	.p3 {
		max-width: 383px;
		top: 206px;
		left: 8%;
	}

	.p4 {
		max-width: 331px;
		top: 301px;
		right: 8%;
	}

	.col-xs-4 .p5 {
		margin-top: -175px;
		margin-left: -38%;
		width: 247px;
	}

	.col-xs-8 .p6 {
		margin-top: -40px;
		width: 376px;
		margin-left: -10%;
	}

	#overlay2, #overlay3, #overlay4, #overlay5, #overlay6 {
		color: white;
		font-size: 11px;
		line-height: 10px;
		background-color: #8f44ad;
		padding: 5px 5px 5px 5px;
		border-radius: 3px;
		text-align: center;
	}

	#overlay2 {
		top: 50px;
		left: 35%;
	}

	#overlay3 {
		top: 61px;
		left: 1%;
	}

	#overlay4 {
		top: 68px;
	}

	#overlay5 {
		top: 125px;
	}

	#overlay6 {
		top: 60px;
	}
}

@media screen and (max-width: 414px){

	.bg-color0 {
		padding-top: 100px;
	}

	.video1, #video3, #video2, #video4 {
		width: 350px;
		height: 196.87px;
	}

	.esto3 {
		top: 76px;
		width: 300px;
		height: 180px;
	}

	.esto2, .esto4 {
		left: 75%;
		top: 75%;
		width: 100px;
		height: 100px;
	}

	.esto5 {
		top: 1625px;
		width: 300px;
		height: 180px;
	}

	@keyframes esto {
		0% {
			top: 133px;
			opacity: 0;
		}
		33%{
			opacity: 1;
		}

		100% {
			top: 76px;
		}
	}

	@keyframes estothree {
		0% {
			top: 1695px;
			opacity: 0;
		}
		33%{
			opacity: 1;
		}

		100% {
			top: 1625px;
		}
	}

	.indexp1 {
		min-height: 500px;
	}

	.p2 {
		top: 50px;
		left: 33%;
		right: 25%;
		max-width: 138px;
	}

	.p3 {
		max-width: 269px;
		top: 165px;
		left: 8%;
	}

	.p4 {
		max-width: 241px;
		top: 232px;
		right: 8%;
	}

	.col-xs-4 .p5 {
		margin-top: -92px;
		margin-left: -66%;
		width: 192px;
	}

	.col-xs-8 .p6 {
		margin-top: 25px;
		width: 271px;
		margin-left: -17%;
	}
}

@media screen and (max-width: 375px){

	.esto5 {
		top: 1685px;
	}


	@keyframes estothree {
		0% {
			top: 1779px;
			opacity: 0;
		}
		33%{
			opacity: 1;
		}

		100% {
			top: 1685px;
		}
	}

	.indexp1 {
		min-height: 450px;
	}

	.p2 {
		top: 32px;
		left: 25%;
		max-width: 172px;
		transition: 1s;
	}

	.p3 {
		max-width: 247px;
		top: 173px;
		left: 8%;
		transition: 1s;
	}

	.p4 {
		max-width: 210px;
		top: 220px;
		right: 8%;
		transition: 1s;
	}

	.col-xs-4 .p5 {
		margin-top: -52px;
		margin-left: -68%;
		width: 174px;
	}

	.col-xs-8 .p6 {
		margin-top: 21px;
		width: 250px;
		margin-left: -20%;
		transition: 1s;
	}
}

@media screen and (max-width: 320px){

	.video1, #video3, #video2, #video4 {
		width: 300px;
		height: 168.75px;
	}

	.esto5 {
		top: 1800px;
	}

	@keyframes estothree {
		0% {
			top: 1870px;
			opacity: 0;
		}
		33%{
			opacity: 1;
		}

		100% {
			top: 1800px;
		}
	}

	.indexp1 {
		min-height: 400px;
	}

	.p2 {
		top: 32px;
		left: 25%;
		max-width: 147px;
	}

	.p3 {
		max-width: 196px;
		top: 151px;
		left: 8%;
	}

	.p4 {
		max-width: 169px;
		top: 191px;
		right: 8%;
	}

	.col-xs-4 .p5 {
		margin-top: -28px;
		margin-left: -78%;
		width: 138px;
	}

	.col-xs-8 .p6 {
		margin-top: 42px;
		width: 211px;
		margin-left: -20%;
	}
}

@media screen and (min-width: 992px){

	.p4 {
		right: 8%;
		top: 360px;
		width: 383px;
	}

	.col-md-4 .p5 {
		margin-top: -162px;
		margin-left: -44%;
		width: 299px;
	}

	.col-md-8 .p6 {
		margin-top: 8px;
		width: 447px;
		margin-left: -14%;
	}

}

@media screen and (min-width: 1200px){

	.p4 {
		max-width: 466px;
		right: 8%;
		width: 466px;
	}

	.col-md-4 .p5 {
		max-width: 334px;
		margin-top: -250px;
		margin-left: -30%;
		width: 334px;
	}

	.col-md-8 .p6 {
		max-width: 539px;
		margin-top: -50px;
		width: 539px;
		margin-left: -15%;
	}
}