{% layout none %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page_title }} - Wegacha</title>
        <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
        <meta name="google-site-verification" content="tJogF1KVW_3UmDas2t1pISqnKKriH-eI_wz_w9_H8bk" />
        <meta name="description" content="We are your very own team of handpicked experts in product launch, lead generation, conversion optimization, customer experience, web development, and more.">
        <meta itemprop="name" content="Wegacha">
        <meta itemprop="description" content="We are your very own team of handpicked experts in product launch, lead generation, conversion optimization, customer experience, web development, and more.">
        {% include 'twitter-card' %}
        {% include 'fb-open-graph' %}           
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}">
        <link rel="stylesheet" href="{{ 'normalize.css' | asset_url }}">
        <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
        <link rel="stylesheet" href="{{ 'adrian.css' | asset_url }}">
    </head>
    <body>
      
{% section 'header' %}
      
    <section class="header-bg"></section>
    <section class="text-center" style="padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Explore Our Projects</h2>
                    <p>Each new client brings challenges along with the satisfaction of a job well done. Take a look at our recent projects and get in touch today.</p>
                </div>
            </div>
            </div>
    </section>
      
    <section class="marginP">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition1" class="imgP" src="{{ 'folio-page-fucho-phone-2.png' | asset_img_url: '300x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInDown" data-wow-duration="2s" src="{{ 'folio-page-fucho-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor1" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo" src="{{ 'client-logo-fucho.png' | asset_img_url: '100x' }}" >
                                <h3 class="overlay-text">WORDPRESS WEBSITE</h3>
                                <a href="/pages/portfolios-fucho" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition2" class="imgP" src="{{ 'folio-page-isofrut-desktop-1.png' | asset_img_url: '370x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInUp" data-wow-duration="2s" src="{{ 'folio-page-isofrut-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor2" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo" src="{{ 'client-logo-isofrut.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">SHOPIFY WEBSITE</h3>
                                <a href="/pages/portfolios-isofrut" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition3" class="imgP" src="{{ 'folio-page-seccco-laptop.png' | asset_img_url: '470x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInDown" data-wow-duration="2s" src="{{ 'folio-page-seccco-logo-2.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor3" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo" src="{{ 'client-logo-seccco.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">SHOPIFY WEBSITE</h3>
                                <a href="/pages/portfolios-seccco" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition4" class="imgP" src="{{ 'folio-page-brooke-tablet.png' | asset_img_url: '470x' }}">
                    </div>
                    <div>
                        <img id="brookeLogo1" class="logoP wow fadeInDown" data-wow-duration="2s" src="{{ 'folio-page-brooke-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor4" class="overlay5">
                            <div class="overlayInside">
                                <img id="brookeLogo2" class="overlay-logo innerLogo" src="{{ 'client-logo-brooke.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">SHOPIFY WEBSITE</h3>
                                <a href="/pages/portfolios-brooke" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div><!--row-->

            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition1" class="imgP" src="{{ 'folio-page-artteca-phone-2.png' | asset_img_url: '470x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInDown" data-wow-duration="2s" id="arttecaLogo" src="{{ 'folio-page-artteca-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor4" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo innerLogo" src="{{ 'client-logo-artteca.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">SHOPIFY WEBSITE</h3>
                                <a href="/pages/portfolios-artteca" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition2" class="imgP" src="{{ 'folio-page-palma-desktop-1.png' | asset_img_url: '370x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInUp" data-wow-duration="2s" id="palmaLogo" src="{{ 'folio-page-palma-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor3" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo innerLogo" src="{{ 'client-logo-palma.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">WORDPRESS WEBSITE</h3>
                                <a href="/pages/portfolios-palma" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition3" class="imgP" src="{{ 'folio-page-zacasha-laptop.png' | asset_img_url: '470x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInDown" data-wow-duration="2s" src="{{ 'folio-page-zacasha-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor2" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo" src="{{ 'client-logo-zacasha.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">SHOPIFY WEBSITE</h3>
                                <a href="/pages/portfolios-zacasha" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition4" class="imgP" src="{{ 'folio-page-latam-tablet-1.png' | asset_img_url: '620x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInUp" data-wow-duration="2s" src="{{ 'folio-page-latam-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor1" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo" src="{{ 'client-logo-latam.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">SHOPIFY WEBSITE</h3>
                                <a href="/pages/portfolios-latam" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition1" class="imgP" src="{{ 'folio-page-fcc-phone-2.png' | asset_img_url: '470x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInDown" data-wow-duration="2s" src="{{ 'folio-page-fcc-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor4" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo innerLogo" src="{{ 'client-logo-fcc.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">SHOPIFY WEBSITE</h3>
                                <a href="/pages/portfolios-fcc" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 desc5">
                    <div>
                        <img id="imgposition2" class="imgP" src="{{ 'folio-page-pimpos-desktop.png' | asset_img_url: '370x' }}">
                    </div>
                    <div>
                        <img class="logoP wow fadeInUp" data-wow-duration="2s" id="pimposLogo" src="{{ 'folio-page-pimpos-logo.png' | asset_img_url: '175x' }}">
                        <div id="overlayColor3" class="overlay5">
                            <div class="overlayInside">
                                <img class="overlay-logo innerLogo" src="{{ 'client-logo-pimpos.png' | asset_img_url: '100x' }}">
                                <h3 class="overlay-text">WORDPRESS WEBSITE</h3>
                                <a href="/pages/portfolios-palma" target="" id="portfolio-btn2" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--row-->

            <div class="row text-center" style="padding-top: 40px; padding-bottom: 60px;">
                <a href="/pages/request-a-service" class="btn btn-primary">Start A Project</a>
            </div>
            
        </div><!--container-->    
    </section>

<section class="audit text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="seomtr-container"></div>
            </div>
        </div>
    </div>
</section> 

{% section 'footer' %}
      
      
